{% extends "layout.html" %}

{% block pagecontent %}
<div class="container">
    <div class="pt-5 text-white">
        <header class="py-5 mt-5">
            <h1 class="display-4" style="text-align: center;"><u>Educational Opportunities</u></h1>
            <h3 style="font-size:20px; text-align:center">Our organization provides educational classes in numerous topics. These can include classes for women in all levels of school, as well as informational classes for parents and teachers around the world. </h3>
            <br>
            <br>
            <br>
            <h1 class="display-4" style="text-align: center;"><u>Classes:</u></h1>



        </header>
    </div>



</div>


<style>
 .fundraising {
float: left;
width: 36%;
padding: 5px;

}

.fundraising::after {
content: "";
clear: both;
display: table;
}

    .classes {
float: left;
width: 36%;
padding:5px;
}

.classes::after {
content: "";
clear: both;
display: table;
}

</style>
{% endblock %}