{% extends "layout.html" %}

{% block pagecontent %}
<div class="container">
    <div class="pt-5 text-white">
        <header class="py-5 mt-5">
            <h1 class="display-4" style="text-align: center;"><u>Our Mission</u></h1>
            <h3 style="font-size:20px; text-align:center">Problem Statement: Young women need a way to access a K-12 education because of the on-going gender bias.<br> We provide young girls and women with the educational opportunities they need in order to limit the daily effects of gender bias globally.</h3>
            <br>
            <br>
            <br>
            <h1 class="display-4" style="text-align: center;"><u>Services</u></h1>
            <a href="/fundraising">
                <img class="fundraising" src="/static/fundraising.png"
                     width=150" height="200">
            </a>
            <br>
            <a href="#" class="classes">
                <img src="/static/classes.png"
                     width=250" height="200">
            </a>
            <a href="#">
                <img src="/static/sponsorship.png"
                     width=200" height="200">
            </a>


        </header>
    </div>



</div>


<style>
 .fundraising {
float: left;
width: 36%;
padding: 5px;

}

.fundraising::after {
content: "";
clear: both;
display: table;
}

    .classes {
float: left;
width: 30%;
padding:5px;
}

.classes::after {
content: "";
clear: both;
display: table;
}

</style>
{% endblock %}