{% extends "layout.html" %}

{% block pagecontent %}
<div class="container">
    <div class="pt-5 text-white">
        <header class="py-5 mt-5">
            <h1 class="display-4" style="text-align: center;"><u>Our Mission</u></h1>
            <h3 style="font-size:20px; text-align:center">Problem Statement: Young women need a way to access a K-12 education because of the on-going gender bias.</h3>
            <br>
            <br>
            <br>
            <h1 class="display-4" style="text-align: center;"><u>Services</u></h1>
            <a href="#" class="button">Example</a>


        </header>
    </div>



</div>


<style>

</style>
{% endblock %}